* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #3498db, #2b3d52);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #497081;
}

.todo__title {
  margin: auto;
}

.todo__date {
  text-align: center;
  padding-top: 10px;
}

svg.define {
  display: none;
}

svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 500px;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: auto;
}

.todo__header {
  height: 100px;
}

.todo__menu {
  background-color: #2b3d52;
  color: #e5e5e5;
  height: 40px;
  position: relative;

  display: flex;
  margin: auto;
}

.todo__items-container {
  padding: 4px 0;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

.todo__item {
  display: flex;
  margin: 25px 0;
  flex-direction: row;
  flex-wrap: nowrap;
}

form {
  display: flex;
  flex-direction: column;
}
form input {
  display: flex;
}

input[type='checkbox'] {
  border-radius: 50%;
}

.todo__toggle {
  height: 16px;
  flex: 0 0 16px;
  border: 1px solid #497081;
  border-radius: 50%;
  cursor: pointer;
}

.todo__text {
  margin-left: 5px;
  font-size: 15px;
  width: 90%;
  word-wrap: break-word;
}

.todo__delete {
  margin-left: auto;
  cursor: pointer;
  height: 16px;
  flex: 0 0 16px;
}

.todo__add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin: 0 30px;
  border-top: 1px solid #d4dce0;
}

.todo__create {
  height: 20px;
  flex: 0 0 20px;
  margin: 0 10px;
  cursor: pointer;
}

.todo__input {
  width: 100%;
  border: 2px solid #2b3d52;
  border-radius: 5px;
}

.checkBoxStyle::before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: '';
  background: #fff;
}

.checkBoxStyle::after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
  content: '';
  background-image: linear-gradient(135deg, #b1b6be 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center;
}
/* Large checkboxes */
.checkBoxStyle {
  height: 22px;
  width: 22px;
}

.checkBoxStyle[type='checkbox']:before {
  width: 20px;
  height: 20px;
}

.checkBoxStyle[type='checkbox']:after {
  top: -20px;
  width: 16px;
  height: 16px;
}
.checkBoxStyle[type='checkbox']:checked:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGHRFWHRBdXRob3IAbWluZWNyYWZ0aW5mby5jb23fZidLAAAAk0lEQVQ4y2P4//8/AyUYwcAD+OzN/oMwshjRBoA0Gr8+DcbIhhBlAEyz+qZZ/7WPryHNAGTNMOxpJvo/w0/uP0kGgGwGaZbrKgfTGnLc/0nyAgiDbEY2BCRGdCDCnA2yGeYVog0Aae5MV4c7Gzk6CRqAbDM2w/EaQEgzXgPQnU2SAcTYjNMAYm3GaQCxNuM0gFwMAPUKd8XyBVDcAAAAAElFTkSuQmCC'),
    linear-gradient(135deg, #b1b6be 0%, #fff 100%);
}

.checkBoxStyle[type='checkbox']:not(:disabled):checked:hover:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGHRFWHRBdXRob3IAbWluZWNyYWZ0aW5mby5jb23fZidLAAAAk0lEQVQ4y2P4//8/AyUYwcAD+OzN/oMwshjRBoA0Gr8+DcbIhhBlAEyz+qZZ/7WPryHNAGTNMOxpJvo/w0/uP0kGgGwGaZbrKgfTGnLc/0nyAgiDbEY2BCRGdCDCnA2yGeYVog0Aae5MV4c7Gzk6CRqAbDM2w/EaQEgzXgPQnU2SAcTYjNMAYm3GaQCxNuM0gFwMAPUKd8XyBVDcAAAAAElFTkSuQmCC'),
    linear-gradient(135deg, #8bb0c2 0%, #fff 100%);
}

.alignCheckBoxList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*   justify-content: space-between; */
}

.deleteButton {
  background-color: rgba(230, 21, 21, 0.753);
  border-radius: 10px;
  border: 1px solid;
  border-color: #808080;
}

.deleteButtonClick:focus {
  background-color: green;
}

/* ul#contList :nth-child(3) {
  background-color: red;
} */
